/node_modules
/public/css
/public/images
/public/fonts
/public/uploads
/public/js
/public/dist
/public/*.js
/public/mix-manifest.json
/storage/*.key
/vendor
npm-debug.log
yarn-error.log
yarn.log
_ide_helper.php
idea/workspace.xml
.idea
.idea/*
.DS_Store
composer.lock
package-lock.json
/.phpstorm.meta.php
.phpstorm.meta.php
yarn.lock
.editorconfig
/.editorconfig
.eslintrc.js
/.eslintrc.js
/public/amanas